.cart {
  display: flex;
  background-color: rgb(3, 66, 22);
  align-items: flex-end;
  gap: 0.7rem;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  color: #fff;
  border: none;
  font-size: 1em;
  cursor: pointer;
  font-weight: bold;
}

.cart:hover {
  background-color: rgb(2, 88, 38);
}

.counter {
  background-color: #127e42;
  font-weight: bold;
  font-size: 0.9em;
  padding: 0.2rem 0.7rem;
  border-radius: 20px;
  text-align: center;
}

.bump {
  animation: bump 1s ease-in-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
