.card {
  margin: 0 10vw;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 2rem;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .card {
    margin: 0 15vw;
  }
}
